
*{

/*border: 1px solid black;*/

}



@media only screen and (min-width : 721px) {

}


@media only screen and (min-width : 480px) and (max-width : 720px){

	body{
		background:#bbe2e9;
	}

	header{
		display:flex;
		justify-content:space-between;
		background:#002255;
		color:white;
		width:100%;
	}

	header div{
		padding:5px 20px;
	}

	#title{

		width:100%;
		text-align:center;
		color:black;
		font-weight:bold;
		margin-bottom:15px;
	}

	section{
		margin-left:-40px;
		/*background: red;*/

	}

	section nav #ejercicios_fiscales{
		text-decoration:none;
		display:flex;
		margin-right:-5px;
		font-weight:bold;
	}

	section nav #ejercicios_fiscales li{
		height:15px;
		width:20%;
		background:#2f8391;
		padding:10px 2%;
		margin-right:5px;
		text-align:center;
		
	}

	section nav #ejercicios_fiscales #ant_ejercicio, section nav #ejercicios_fiscales #sig_ejercicio{
		
	}

	section nav #ejercicios_fiscales #ejercicio_mas{
		display:none;
	}

	section nav #ejercicios_fiscales li a, 
	section nav #opciones li a,
	section #meses li a,
	section #btn_resultados li a{ 
		text-decoration:none;
		display:block;
		color:black;
	}

	section nav #ejercicios_fiscales li, 
	section nav #informes li, 
	section nav #opciones li,
	section #meses li,
	section #btn_resultados li{
		list-style:none;
	}

	section nav #informes{
		display:none;
	}

	section nav #opciones{
		width:40%;
		/*background:blue;*/
	}

	section nav #opciones li, section nav #opciones_compacto li{
		padding:5px 5px;
		background:#2f8391;
		text-align:left;
		margin-bottom: 1px;
		display:flex;

	}

	section nav #opciones_compacto{
		float:left;
	}

	section nav #opciones_compacto li{
		width:30px;
	}

	section nav #opciones li a{
		margin-left:10%;
		
	}

	section nav #opciones_compacto li img, section nav #opciones li img{
		width:30px;
		height:30px;
	}

	section nav #opciones_hide{
		display:none;
	}

	section #meses{
		width:80%;
		margin:0 auto;
		margin-bottom:20px;

	}

	section #meses li{
		padding:5px 5px;
		background:#2f8391;
		text-align:center;
		margin-bottom: 1px;

	}


	section #meses #dias_del_mes_movil{
		margin-left:-5px;
	}

	section #meses #dias_del_mes_movil li{
		text-align:left;
		/*margin-left:-40px;*/
		background:#88ced9;
	}

	section #meses #dias_del_mes_movil li .dia_mes{
		margin-left:-40px;
		background:#2f8391;
		float:left;
		padding:8px 11px;
		margin-top:-5px;
		font-weight:bold;
	}

	section #meses #dias_del_mes_movil li ul{
		margin-left:-40px;
	}

	section #meses #dias_del_mes_movil li ul li{
		background:#bbe2e9;
		margin-top:1px;
		display:flex;
		justify-content:space-between;
	}

	section #meses #dias_del_mes_movil li ul .total_dia{
		border-top:3px solid #88ced9;
		font-weight:bold;
		/*background:#2f8391;*/	
	}

	section #meses #resultados_movil{
		margin-left:-40px;
	}

	section #meses #resultados_movil li{
		background:#88ced9;
		margin-top:1px;
		display:flex;
		justify-content:space-between;
	}

	section #meses #resultados_movil .total_final{
		border-top:3px solid #2f8391;
		font-weight:bold;
		margin-top:-1px;
		/*background:#2f8391;*/	
	}

	section #dias_del_mes_desktop{

		display:none;
	}

	section #btn_resultados{
		width:40%;
		margin:0 auto;
		margin-bottom:20px;
		display:flex;
		justify-content:space-between;

	}

	section #btn_resultados li{
		padding:5px 5px;
		background:#2f8391;
		text-align:center;
		margin-bottom: 1px;

	}

	footer{
		display:flex;
		justify-content:space-between;
		background:#002255;
		color:white;
		width:100%;
	}

}


@media only screen and (max-width : 480px) {

	body{
		background:#bbe2e9;
	}

	header{
		display:flex;
		justify-content:space-between;
		background:#002255;
		color:white;
		width:100%;
	}

	header div{
		padding:5px 20px;
	}

	#title{

		width:100%;
		text-align:center;
		color:black;
		font-weight:bold;
		margin-bottom:15px;
	}

	section{
		margin-left:-40px;
		/*background: red;*/

	}

	section nav #ejercicios_fiscales{
		text-decoration:none;
		display:flex;
		margin-right:-5px;
		font-weight:bold;
	}

	section nav #ejercicios_fiscales li{
		height:15px;
		width:20%;
		background:#2f8391;
		padding:10px 2%;
		margin-right:5px;
		text-align:center;
		
	}

	section nav #ejercicios_fiscales #ant_ejercicio, section nav #ejercicios_fiscales #sig_ejercicio{
		display:none;
	}

	section nav #ejercicios_fiscales #ejercicio_nuevo{
		display:none;
	}

	section nav #ejercicios_fiscales li a, 
	section nav #opciones li a,
	section #meses li a,
	section #btn_resultados li a{ 
		text-decoration:none;
		display:block;
		color:black;
	}

	section nav #ejercicios_fiscales li, 
	section nav #informes li, 
	section nav #opciones li,
	section #meses li,
	section #btn_resultados li{
		list-style:none;
	}

	section nav #informes{
		display:none;
	}

	section nav #opciones{
		width:40%;
		/*background:blue;*/
	}

	section nav #opciones li{
		padding:5px 5px;
		background:#2f8391;
		text-align:center;
		margin-bottom: 1px;

	}

	section nav #opciones_hide{
		display:none;
	}

	section #meses{
		width:80%;
		margin:0 auto;
		margin-bottom:20px;

	}

	section #meses li{
		padding:5px 5px;
		background:#2f8391;
		text-align:center;
		margin-bottom: 1px;

	}


	section #meses #dias_del_mes_movil{
		margin-left:-5px;
	}

	section #meses #dias_del_mes_movil li{
		text-align:left;
		/*margin-left:-40px;*/
		background:#88ced9;
	}

	section #meses #dias_del_mes_movil li .dia_mes{
		margin-left:-40px;
		background:#2f8391;
		float:left;
		padding:8px 11px;
		margin-top:-5px;
		font-weight:bold;
	}

	section #meses #dias_del_mes_movil li ul{
		margin-left:-40px;
	}

	section #meses #dias_del_mes_movil li ul li{
		background:#bbe2e9;
		margin-top:1px;
		display:flex;
		justify-content:space-between;
	}

	section #meses #dias_del_mes_movil li ul .total_dia{
		border-top:3px solid #88ced9;
		font-weight:bold;
		/*background:#2f8391;*/	
	}

	section #meses #resultados_movil{
		margin-left:-40px;
	}

	section #meses #resultados_movil li{
		background:#88ced9;
		margin-top:1px;
		display:flex;
		justify-content:space-between;
	}

	section #meses #resultados_movil .total_final{
		border-top:3px solid #2f8391;
		font-weight:bold;
		margin-top:-1px;
		/*background:#2f8391;*/	
	}

	section #dias_del_mes_desktop{

		display:none;
	}

	section #btn_resultados{
		width:40%;
		margin:0 auto;
		margin-bottom:20px;
		display:flex;
		justify-content:space-between;

	}

	section #btn_resultados li{
		padding:5px 5px;
		background:#2f8391;
		text-align:center;
		margin-bottom: 1px;

	}

	footer{
		display:flex;
		justify-content:space-between;
		background:#002255;
		color:white;
		width:100%;
	}

}























} 
