<h2> GASTOS </h2>
<div>

    <article ng-repeat="mes in bp.meses" class="meses">

        <header>
            <h4>{{mes | uppercase}}</h4>
        </header>

        <ul id="dias_del_mes_movil">

            <li><div class="dia_mes">1</div><!-- Ejemplo para un día -->

                <ul>

                    <li class="ocultar resaltado">

                        <div>Concepto</div>
                        <div>Precio/Unidad</div>
                        <div>Cantidad</div>
                        <div>Total</div>

                    </li>

                    <li class="ocultar">

                        <form action="http://algunsitio.com/prog/usuarionuevo" method="post">
                              <input type="text" id="nombre">
                            <input type="text" id="apellido">
                            <input type="text" id="email">
                            <input type="submit" id="enviar">
                         </form>

                    </li>

                    <li>

                        <div>Factura electrica</div>
                        <div class="ocultar">40€</div>
                        <div class="ocultar">1</div>
                        <div>80€</div>

                    </li>

                    <li>

                        <div>Alquiler mes</div>
                        <div class="ocultar">500€</div>
                        <div class="ocultar">1</div>
                        <div>500€</div>

                    </li>

                    <li class="total_dia">

                        <div >Total</div>
                        <div>580€</div>

                    </li>

                </ul>
            </li>

            <li><div class="dia_mes">2</div><!-- Ejemplo para un día -->

                <ul>

                    <li class="ocultar resaltado">

                        <div>Concepto</div>
                        <div>Precio/Unidad</div>
                        <div>Cantidad</div>
                        <div>Total</div>

                    </li>


                    <li>

                        <div>Factura de electrica</div>
                        <div class="ocultar">40€</div>
                        <div class="ocultar">1</div>
                        <div>80€</div>

                    </li>

                    <li>

                        <div>Alquiler mes</div>
                        <div class="ocultar">500€</div>
                        <div class="ocultar">1</div>
                        <div>500€</div>

                    </li>

                    <li class="total_dia">

                        <div >Total</div>
                        <div>580€</div>

                    </li>

                </ul>
            </li>

        </ul>

        <footer class="pie_mes">
            <menu>
                <ul><!-- mostrar a partir de -->
                    <li><a href="#"><img />BALANCE</a></li>
                    <li><a href="#"><img />P y G</a></li>
                </ul>
            </menu>
        <footer>
    </article>

</div>
