
*{

	margin:0px;
	padding: 0px;
	list-style:none;
	text-decoration:none;
	font-size:16px;
	color:black;
}

	body{
		background:#231c18;
	}

	header{
		background:#002255;
		color:white;
		padding:9px 0px 9px 0px;
	}

	header img{
		width:50px;
		height:50px;
		margin:15px 0px 0px 15px;
	}

	header h2{
		display:inline;
		margin:-10px 20px 10px 20px;
		font-size:2em;
		color:white;
	}

	header nav{
		margin-top:30px;
		display:block;
		margin-bottom:-1px;
	}

	header nav ul{
		margin-top:11px;
	}

	header #nav-ejercicios ul li{
		height:15px;
		width:20%;
		background:#2f8391;
		padding:8px 2%;
		text-align:center;
		display:inline;
	}

	header nav ul #ejercicio_mas{
		display:none;
	}


/*******************************************/

	main{
		margin-bottom:60px;
	}

	main section h2{
		text-align:center;
		margin-bottom:20px;
		font-size:1.5em;
		color:#bbe2e9;
	}

	main #nav-operaciones{
		margin: 20px 0px;
	}

	main #opciones li{
		height:15px;
		width:40%;
		min-width:170px;
		background:#2f8391;
		padding:10px 2%;
		text-align:left;
		margin-bottom:1px;
		display:inline;

	}

	main #nav-operaciones #opciones li img{
		width:20px;
		height:20px;
	}

	main #nav-operaciones #opciones li a{
		margin-left:10px;
	}

	section h2{
		display:none;
	}

	section article{
		width:20%;
		min-width:200px;
		margin-bottom:1px;
	}

	section .meses{
		margin-top:30px;
	}

	section article header{
		background:#2f8391;
		padding-left:10px;
	}

	section article #dias_del_mes_movil, section article footer{
		display:none;
	}

	section article #dias_del_mes_movil li{
		padding:5px 5px;
		background:#88ced9;
		text-align:center;
		margin-bottom: 2px;
		display:flex;
		justify-content:space-between;
	}

	section article #dias_del_mes_movil li .dia_mes{
		background:#2f8391;
		font-weight:bold;
		position:absolute;
		padding:4.5px 10px;
	}

	section article #dias_del_mes_movil li ul{
		width:90%;
	}

	section article #dias_del_mes_movil li ul li{
		background:#bbe2e9;
		display:flex;
		justify-content:space-between;
	}

	section article #dias_del_mes_movil li ul .total_dia{
		border-top:3px solid #88ced9;
		font-weight:bold;
	}

	section article footer{
		background:#88ced9;
		padding-bottom:0px;
	}

	section article footer menu ul li{
		background:#bbe2e9;
	}

	footer{
			background:#002255;
			color:white;
			padding:10px;

		}

	footer ul{
		list-style:none;
	}

	footer ul li{
		display:inline;
		padding:5px;
		background:#2f8391;
	}

	.bottom { 
		position: fixed; 
		text-align: center; 
		width: 100%; 
		bottom: 0px;
	}


/**********************************************

DISPOSITIVOS MOVILES

**********************************************/

@media only screen and (max-width : 720px) {

	header img{
		width:30px;
		height:30px;
		margin-left:5px;
	}

	header h2{
		padding:20px;
		font-size:1em;
	}

	header nav ul{
		margin-top:11px;
	}

	header nav ul #ejercicio_nuevo{
		display:none;
	}

	main{
		width:120%;
		/webkit-transition: margin 1s; /* Safari */
    	transition: margin 1s;

	}

	main:hover{
		margin-left:-25%;
	}

	/*main #principal:hover{
		margin-top:-225px;
		margin-right:0%;
		margin-left:0%;
	}*/

	main #nav-operaciones{
		margin-top:50px;
	}

	main #nav-operaciones #opciones li{
		width:20%;
		display:list-item;
	}

	main #nav-operaciones #opciones li a{
	}

	/**************************************/

	main .pares #opciones{
		margin-left:8%;
	}

	main .pares #opciones li{
		height:40px;
		width:37%;
		display:inline-block;
		margin-bottom:10px;
		
	}

	main .pares #opciones li:nth-child(odd){
		margin-right:8%;
	}

	main .pares #opciones li img{
		width:30px;
		height:30px;
	}

	/**************************************/

	#principal{
		margin-top:-255px;
	}

	section h2{
		display:block;
	}

	section article{
		width:60%;
		margin-bottom:1px;
		margin-left:40%;
	}

	section .meses{
		margin-top:30px;
	}

	section article #dias_del_mes_movil, section article footer{
		display:block;
	}

}
